<app-swiper-custom *ngIf="prestations.length" [prestations]="prestations"
  (choosePrestion)="selectPrestation($event)"></app-swiper-custom>
<app-calendar-employe [ngStyle]="prestationSelected ? {'cursor' : 'not-allowed;' } : {}"
  *ngIf="(prestationSelected | json) != '{}' && idEmploye" [prestationSelected]="prestationSelected"
  [idEmploye]="idEmploye" [numberOfDays]=6></app-calendar-employe>
<app-calendar *ngIf="(prestationSelected | json) != '{}' && !idEmploye" [prestationSelected]="prestationSelected"
  (chooseEmploye)="selectEmploye($event)"></app-calendar>
