table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.crimson {
  background-color: crimson;
  color: white
}

.pointer {
  cursor: pointer;
  font-size: 24px;
}

.headTable {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em 0 1em 0;
}

.demo-inline-calendar-card {
  width: 300px;
}

.mat-card {
  padding: 0px;
  width: 240px;
}
