<swiper [effect]="'coverflow'" [grabCursor]="true" [centeredSlides]="true" [slidesPerView]="'auto'" [coverflowEffect]="{
      rotate: 0,
      stretch: 0,
      depth: 100,
      modifier: 2,
      slideShadows: true
    }" [loop]="false" [initialSlide]="2" [pagination]="true" class="mySwiper">

  <ng-template swiperSlide *ngFor="let prestation of prestations">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-side">
          <div class="testimonialBox">
            <div class="content">
              <img [src]="prestation.image" alt="">
              <h1 style="margin-top:1em"> {{prestation.nom}}</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ad provident molestiae quo
                voluptatibus! Reprehenderit commodi quam, cupiditate modi enim, ducimus tempore dolorem minus at illum
                aspernatur, adipisci recusandae atque!</p>
              <button style="margin-top:3rem" (click)="emitPrestation(prestation)"
                class="buttonConnexion">Sélectionnez</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

</swiper>
