.login-container {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
}

form {
  width: 100%;
}

.login-content {
  width: 400px;
  display: block;
  margin: 0 auto;
}

.login-toolbar {
  justify-content: center;
}

.mat-form-field {
  width: 100%;
  display: block;
}

.mat-raised-button {
  width: 100%;
  margin-top: 15px;
}

.background {
  background-color: #1d1d1d;
  background-image: radial-gradient(circle farthest-corner at 100% 100%, rgba(122, 167, 255, 0.32), transparent 44%),
    radial-gradient(circle farthest-corner at 0% 100%, rgba(255, 1, 1, 0.15), transparent 32%);
}

.InputLoginRegister {
  height: 1rem;
  width: 90%;
  padding: 5%;
  border-style: solid;
  border-width: 1px;
  border-color: #e7ecf0;
  border-radius: 9px;
  background-color: #f5f6f7;
  -webkit-transition: border-color 200ms ease;
  transition: border-color 200ms ease;
  font-size: 15px;
  line-height: 1.4em;
  border: 1px solid #cccccc;
  vertical-align: middle;
  display: block;
  margin-bottom: 1rem;
}

.mat-card {
  border-radius: 20px;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.toolbarCustom {
  background-color: transparent;
  color: white;
  font-size: 3rem;
  margin-bottom: 1rem;
}
