<div class="login-container background" style="height: 100vh;">
  <div class="login-content">
    <mat-toolbar class="login-toolbar toolbarCustom">Planning</mat-toolbar>
    <mat-card *ngIf="logginPage">
      <h1 style="text-align: center; font-weight: bold; font-size: 2rem; margin-bottom: 2rem;"> Connexion</h1>
      <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmitLogin()">
        <input type="text" placeholder="email" class="InputLoginRegister" formControlName="email">
        <input type="password" placeholder="password" class="InputLoginRegister" formControlName="password">
        <button class="buttonConnexion">Se connecter</button>
        <div style="display: flex; justify-content: space-around; margin-top: 1rem;">
          <p>Pas de compte ? </p>
          <p style="cursor: pointer; text-decoration: underline;" (click)="toggleLogginPageButton()">S'enregistrer</p>
        </div>
      </form>
    </mat-card>

    <mat-card *ngIf="!logginPage">
      <h1 style="text-align: center; font-weight: bold; font-size: 2rem; margin-bottom: 2rem;"> Inscription</h1>
      <form [formGroup]="registerForm" novalidate (ngSubmit)="onSubmitRegister()">
        <input type="text" placeholder="Nom" class="InputLoginRegister" formControlName="nom">
        <input type="text" placeholder="Prenom" class="InputLoginRegister" formControlName="prenom">
        <input type="text" placeholder="Adresse" class="InputLoginRegister" formControlName="adresse">
        <input type="email" placeholder="email" class="InputLoginRegister" formControlName="email">
        <input type="text" placeholder="Numéro de téléphone" class="InputLoginRegister"
          formControlName="numeroTelephone">
        <input type="password" placeholder="password" class="InputLoginRegister" formControlName="password">
        <button type="submit" class="buttonConnexion">S'enregistrer</button>
        <div style="display: flex; justify-content: space-around; margin-top: 1rem;">
          <p>Vous avez un compte ? </p>
          <p style="cursor: pointer; text-decoration: underline;" (click)="toggleLogginPageButton()">Se connecter</p>
        </div>
      </form>
    </mat-card>
  </div>
</div>
