<div>Sign Up for the awesome product</div>
<button (click)="checkout('price_1M6qqcJvi3VtEHgUD623q4nz')">
  10$ / month
</button>
<button (click)="checkout('price_1M6qqcJvi3VtEHgUD623q4nz')">
  25$ / month
</button>
