<div id="listCards">

  <mat-card class="example-card" style="text-align: center;">
    <mat-card-header>
      <mat-card-title>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-icon matSuffix>person_outline</mat-icon>
          <mat-label>Nom</mat-label>
          <input [(ngModel)]="employeEdit.nom" matInput>
        </mat-form-field>
      </mat-card-title>
    </mat-card-header>
    <label *ngIf="!employeEdit.photo" style="cursor: pointer;">
      <img src="../../../assets/plus.png" style="max-width:100px;" alt="">
      <input #fileInput type="file" style="display:none" accept="image/*" (change)="selectFile($event)">
    </label>
    <div *ngIf="employeEdit.photo" class="profilepic">
      <label>
        <img class="profilepic__image" [src]="employeEdit.photo" alt="Photo of {{employeEdit.nom}}">
        <input #fileInput type="file" style="display:none" accept="image/*" (change)="selectFile($event)">
        <div class="profilepic__content">
          <span class="profilepic__text"><mat-icon style="font-size: 40px;">add_a_photo</mat-icon></span>
        </div>
      </label>
    </div>

    <mat-card-content style="text-align: center;">

      <div style="text-align: center; margin-top: 2em;">
        <button mat-raised-button color="primary"
          (click)="updatePrestations(employeEdit._id,employeEdit.listeDesPrestations)">Prestations</button>
      </div>
      <div style="display: flex; justify-content: space-between; margin-top: 1em;">
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button class="halfWidth" [disabled]="!employeEdit.nom || employeEdit.photo === ''" mat-raised-button
        color="primary" (click)="addNewEmploye()">SAUVEGARDER</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card" *ngFor="let employee of employees">
    <mat-card-header>
      <mat-card-title>{{employee.nom}}</mat-card-title>
    </mat-card-header>
    <div class="profilepic">
      <label>

        <img class="profilepic__image" [src]="employee.photo" alt="Photo of {{employee.nom}}">
        <input #fileInput type="file" style="display:none" accept="image/*" (change)="selectFile($event, employee._id)">
        <div class="profilepic__content">
          <span class="profilepic__text"><mat-icon style="font-size: 40px;">add_a_photo</mat-icon></span>
        </div>
      </label>
    </div>
    <mat-card-content>
      <button mat-raised-button color="primary"
        (click)="updatePrestations(employee._id,employee.listeDesPrestations)">Prestations</button>
      <div style="display: flex; justify-content: space-between; margin-top: 1em;">
        <button mat-raised-button color="primary" (click)="showAbsence(employee._id)">Voir Absences</button>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button class="halfWidth" [disabled]="!employee.hasBeenUpdate" mat-raised-button color="primary"
        (click)="updateEmploye(employee._id)">SAUVEGARDER</button>
      <button class="halfWidth" mat-raised-button color="warn" (click)="deleteEmploye(employee._id)">SUPPRIMER</button>
    </mat-card-actions>
  </mat-card>
</div>
