<div style="display: flex;">

  <img style="width: 50%;" src="{{data.prestation.image}}" alt="">
  <!-- <p>{{data.prestation.image}}</p> -->
  <div style="width: 50%; text-align: center;">
    <strong style="font-size: large; padding: 1em">Prestation {{data.prestation.nom}}</strong>
    <div style="display: flex; justify-content: space-between; padding: 0.5em">
      <p>prix:</p>
      <p>{{data.prestation.prix}} €</p>
    </div>

    <div style="display: flex; justify-content: space-between; padding: 0.5em">
      <p>durée:</p>
      <p>{{data.prestation.duree}} h</p>
    </div>

    <div style="display: flex; justify-content: space-between; padding: 0.5em">
      <p>nombre de masseuse:</p>
      <p>{{data.prestation.personnelRequis}}</p>
    </div>

    <div style="display: flex; justify-content: space-between; padding: 0.5em">
      <p>date:</p>
      <p>{{data.reservation.day}}</p>
    </div>

    <div style="display: flex; justify-content: space-between; padding: 0.5em">
      <p>Séance de :</p>
      <p>{{data.reservation.slot}}</p>
    </div>


    <div *ngIf="data.employeesAvailable.length" style="display: flex; justify-content: space-between; padding: 0.5em">
      <p>choix du personnel :</p>
      <mat-form-field appearance="fill">
        <mat-label>Choisir Masseuse</mat-label>
        <mat-select [(ngModel)]="employeSelected" required>
          <mat-option *ngFor="let employe of data.employeesAvailable" [value]="employe">
            <img with="40" height="40" [src]="employe.photo">
            {{employe.nom}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="data.employeesAvailable.length" style="display: flex; justify-content: space-between; padding: 1em"
      mat-dialog-actions>
      <button mat-raised-button color="primary" [disabled]="!employeSelected"
        [mat-dialog-close]="{'close':true,'employee':employeSelected}">Valider</button>
      <button mat-raised-button color="primary" cdkFocusInitial [mat-dialog-close]="{'close':false}">Annuler</button>
    </div>
    <div *ngIf="!data.employeesAvailable.length" style="display: flex; justify-content: space-between; padding: 1em"
      mat-dialog-actions>
      <button mat-raised-button color="warn" cdkFocusInitial [mat-dialog-close]="{'close':false}">Aucune masseuse
        Disponible</button>
    </div>
  </div>
</div>
