.mat-typography{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

body{
  margin : 0 !important
}

.background-black-linear{
  background-color: #1d1d1d;
  background-image: radial-gradient(circle farthest-corner at 100% 100%, rgba(122, 167, 255, 0.32), transparent 44%), radial-gradient(circle farthest-corner at 0% 100%, rgba(255, 1, 1, 0.15), transparent 32%);
  color: #fff;
}

.buttonConnexion:hover{
  background-color: #33383f;
}

.buttonConnexion{
  margin-bottom: 8px;
    padding: 8px 28px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border-radius: 9px;
    background-color: #1d1d1d;
    box-shadow: 0 2px 0 0 rgb(32 32 32 / 5%);
    -webkit-transition: box-shadow 200ms ease, border-color 200ms ease, color 200ms ease, background-color 200ms ease, -webkit-transform 200ms ease;
    transition: box-shadow 200ms ease, border-color 200ms ease, color 200ms ease, background-color 200ms ease, -webkit-transform 200ms ease;
    transition: box-shadow 200ms ease, transform 200ms ease, border-color 200ms ease, color 200ms ease, background-color 200ms ease;
    transition: box-shadow 200ms ease, transform 200ms ease, border-color 200ms ease, color 200ms ease, background-color 200ms ease, -webkit-transform 200ms ease;
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    cursor: pointer;
    margin-bottom:1rem;
}